article.event-list-item
	.clearfix
		header
			.thumbnail
				img(ng-src="{{event['@files:avatar'].url}}" ng-show="event['@files:avatar'].url")
			.main-info
				h3
					a(href="/agenda/{{event.id}}/") {{event.name}}
				p.description(ng-show="event.shortDescription") {{event.shortDescription}}
		section.occurrences
			.occurrence.clearfix(ng-repeat="occur in event.occurrences | spaceOccurrences:space | byDateOccurrences:eventSearch.startDate:eventSearch.endDate | futureOccurrences:isFutureEvents | occurrenceOrder")
				.date-info(ng-class="{'showing-from-now': showFromNow(occur)}")
					p.fromNow(ng-show="showFromNow(occur)")
						span.entypo &#128340;
						span(fromnow date="occur.timestamp")
					p.date(ng-hide="showFromNow(occur)")
						span.entypo &#128197;
						| {{getFormattedDate(occur, 'DD/MM, [às] HH:mm')}}
				table
					tr.price
						td 
							span.entypo &#127915;
						td {{occur.price}}
					tr.space(ng-controller="MapController" ng-click="openDialog($event, occur);")
						td
							span.entypo &#59172;
						td
							| {{occur.spaceName}}
							br
							span.endereco {{getOccurSpace(occur).endereco}}
					tr.add-to-calendar
						td
							span.entypo &#9733;
						td
							a(href="{{gCalUrl(occur, event)}}" target="_blank") Adicionar no Google Calendar