nav

	.filters-container

		.filter-item.date-filter(ng-class="{filled:eventSearch.startDate}")

			a.clear-filter.icon-cross(href="javascript:void(0)" ng-click="datepicker.clear()" title="Limpar filtro por data" ng-show="eventSearch.startDate")

			.date-filter-content

				.date-start.datepicker-container

					a.button(ng-click="datepicker.start.toggle()" href="javascript:void(0);")
						span.icon-calendar
						span.the-date(ng-show="eventSearch.startDate && datepicker.relative") {{datepicker.relative}} 
						span.the-date(ng-show="eventSearch.startDate && !datepicker.relative") {{datepicker.start.view}} 

					span.until(ng-hide="!eventSearch.startDate || (datepicker.relative && eventSearch.endDate)") até

					.datepicker(pickadate ng-model="eventSearch.startDate" ng-show="datepicker.start.opened" min-date="datepicker.start.minDate" max-date="datepicker.start.maxDate" prev-label="'anterior'" next-label="'próximo'")

				.date-end.datepicker-container(ng-hide="!eventSearch.startDate || (datepicker.relative && eventSearch.endDate)")

					a.button(ng-click="datepicker.end.toggle()" href="javascript:void(0);")
						span.icon-calendar
						span.the-date(ng-show="eventSearch.endDate") {{datepicker.end.view}}
						span.the-date(ng-hide="eventSearch.endDate") ...

					.datepicker(pickadate ng-model="eventSearch.endDate" ng-show="datepicker.end.opened" min-date="datepicker.end.minDate" max-date="datepicker.end.maxDate" default-date="eventSearch.startDate" prev-label="'anterior'" next-label="'próximo'")

		.filter-item.text-filter(ng-class="{filled:eventSearch.$}")

			a.clear-filter.icon-cross(href="javascript:void(0)" ng-click="eventSearch.$ = ''" title="Limpar busca" ng-show="eventSearch.$")

			input(type="text" ng-model="eventSearch.$" placeholder="Digite uma busca...")

		.filter-item.list-filter(ng-class="{filled:eventSearch.terms}" ng-hide="tag")
			a.clear-filter.icon-cross(href="javascript:void(0)" ng-click="eventSearch.terms = ''" title="Limpar filtro por linguagem" ng-show="eventSearch.terms")
			ul.linguagem-list
				li.label(ng-hide="eventSearch.terms" ng-class="{active:!eventSearch.terms}") Selecione uma linguagem
				li(ng-repeat="linguagem in linguagens" ng-class="{active:linguagem==eventSearch.terms,inactive:linguagem!=eventSearch.terms}")
					a(href="javascript:void(0);" ng-click="eventSearch.terms = linguagem") {{linguagem}}

		.filter-item.list-filter.rate(ng-class="{filled:eventSearch.classificacao}" ng-hide="tag")
			a.clear-filter.icon-cross(href="javascript:void(0)" ng-click="eventSearch.classificacao = ''" title="Limpar filtro por classificação" ng-show="eventSearch.classificacao")
			ul.classificacao-list
				li.label(ng-hide="eventSearch.classificacao" ng-class="{active:!eventSearch.classificacao}") Classificão etária
				li(ng-repeat="classificacao in classificacoes" ng-class="{active:classificacao==eventSearch.classificacao,inactive:classificacao!=eventSearch.classificacao}")
					a(href="javascript:void(0);" ng-click="eventSearch.classificacao = classificacao") {{classificacao}}

		.filter-item.tick-filter.icon-checkmark(ng-show="!eventSearch.startDate && service.isHappening()" ng-class="{enabled:isFutureEvents}" ng-click="toggleFutureEvents()") Eventos futuros



	a.close.icon-cross(href="/agenda/" ng-show="isEventFiltering()" title="Fechar busca")