article#about
	header.main-header.clearfix
		h1 Edição 2014
	section.main-content
		p Criado originalmente no Centro Cultural da Juventude (CCJ), o Mês da Cultura Independente (MCI), festival de artes promovido pela Secretaria Municipal de Cultura de São Paulo, se espalhou por vários espaços da cidade ao longo dos anos e apresenta algumas atividades já características como as sessões “Cinetério”, realizadas no Cemitério da Vila Nova Cachoeirinha, em frente ao CCJ. 

		p A proposta do evento é reunir artistas que produzem cultura de forma independente através de diversas linguagens artísticas que, em alguns casos, podem convergir. Além de shows, exposições, histórias em quadrinhos, literatura e cinema, uma das principais características do evento é a presença de celebrações de rua já tradicionais da cidade, como as festas promovidas por coletivos artísticos, além da presença de nomes internacionais de diversas áreas, como a banda de origem jamaicana The Skatalities, que se apresentou em 2011; Daniel Higgs, ex-integrante da cultuada banda norte-americana Lungfish; e Faust, grupo alemão dos anos 1970 considerado um dos pioneiros no gênero Krautrock.

		p Com um histórico de grandes atrações, o MCI já recebeu em seus palcos expressivos nomes da linha de frente da música independente como Chali 2na (EUA), Avey Tare's Slasher Flicks (EUA), Blonde Redhead (EUA), The Ex (Holanda), Jah Shaka (Jamaica), The Eternals (EUA), Baris K (Turquia) e Systema Solar (Colômbia), sem deixar de lado clássicos nomes de diferentes vertentes da música brasileira, como Mano Brown e Dona Ivone Lara. Acoplada à agenda musical, uma programação diversa traça um panorama da pluralidade do evento: de lançamento de filmes como Pixo, de João Wainer, a debates como Verdura versus Ralf (da dupla Christian & Ralf). 
		
		p Esse é o MCI. Seja bem-vindo(a)!

		#partners

			.partners

				h3 Parceria

				ul.clearfix
					li(style="background-image:url(/img/logos/cultural_dinamarca.gif)") Instituto Cultural Dinamarca
					li(style="background-image:url(/img/logos/dinamica_dinamarquesa.jpg)") Dinâmica Dinamarquesa
					li(style="background-image:url(/img/logos/cultura_reggae.png)") Associação Cultural Reggae
					li(style="background-image:url(/img/logos/instituto_favela.jpg)") 100% Favela
					li(style="background-image:url(/img/logos/cupula_favela.jpg)") 100% Favela
					li(style="background-image:url(/img/logos/cspc.jpg)") Circuito São Paulo de Cultura
					li(style="background-image:url(/img/logos/cinemateca.jpg)") Cinemateca
					li(style="background-image:url(/img/logos/sec_educacao.jpg)") Secretaria da Educação
					
			.places

				h3 Locais

				ul.clearfix
					li(style="background-image:url(/img/logos/olido.jpg)") Galeria Olido
					li(style="background-image:url(/img/logos/ccj.jpg)") Centro Cultural da Juventude
					li(style="background-image:url(/img/logos/ccsp.png)") Centro Cultural São Paulo
					li(style="background-image:url(/img/logos/dec.jpg)") Departamento de Expansão Cultural
					li(style="background-image:url(/img/logos/penha.jpg)") Centro Cultural da Penha
					li(style="background-image:url(/img/logos/tiradentes.jpg)") Centro de Formação Cultural Cidade Tiradentes
					//li
						span.text Praça das Artes (falta logo)
					//li
						span.text Ibirapuera (falta logo)
					//li
						span.text SESC (falta logo)
					//li
						span.text Secretaria do Verde

			.support

				h3 Apoio

				p CET, PM, GCM, Subprefeitura de Pinheiros, Subprefeitura da Sé, Subprefeitura da Freguesia/Brasilândia, Subprefeitura de São Miguel Paulista e Subprefeitura de Campo Limpo, Secretaria Municipal de Serviços e Secretaria Municipal de Relações Internacionais e Federativas