article#about
	header.main-header.row
		.container
			.six.columns.offset-by-three
				h1 Apresentação
	section.main-content
		.container
			.six.columns.offset-by-three

				.center
					p A Secretaria Municipal de Cultura apresenta:

					h2 CIRCUITO SÃO PAULO DE CULTURA

				p Uma nova política de programação cultural que integra todas as regiões de São Paulo por meio da Música, Dança, Teatro, Circo e atrações artísticas para o público infantil. Identificação, ocupação integrada e aproximação entre artista e público. É a cidade conectada pela arte.

				p Reconhecer as demandas, valorizar a criação e criar condições práticas de desenvolvimento. Os equipamentos municipais e outros espaços parceiros servirão de palco para o movimento de expansão cultural. Serão mais de 1.000 atrações ao longo de 2014, que incluem apresentações e atividades de formação e apoio à produção local de cada região da capital paulista.

				p O programa busca incentivar o diálogo entre as culturas centrais e periféricas, estimular as manifestações locais e impulsionar a circulação de espetáculos para criar novas plateias. Uma rede descentralizada de ações culturais para promover o trânsito de produções pelos 244 pontos disponíveis: seja bem-vindo ao Circuito São Paulo de Cultura.

				h3 CURADORIA

				p A curadoria é composta por membros da equipe de programação da Secretaria Municipal de Cultura e por profissionais reconhecidos em seus ramos de atuação:

				p 
					strong Ana Francisca Ponzio
				p Jornalista cultural, crítica e curadora na área de dança com mais de 20 anos de experiência profissional

				p 
					strong Fernando Dourado
				p Programador e curador de dança da Secretaria Municipal de Cultura de São Paulo, onde responde pela gestão do Centro de Dança Umberto da Silva/Galeria Olido

				p 
					strong Gabriela Fontana
				p economista, atriz e produtora, integra o setor de coordenação de programação da Secretaria Municipal de Cultura de São Paulo

				p 
					strong Gil Marçal
				p coordenador de cidadania cultural da Secretaria Municipal de Cultura de São Paulo

				p 
					strong Giovanna Puerto
				p Profissional da área de educação musical, formada em Regência Orquestral, desenvolve projeto de vivência musical para bebês

				p 
					strong Guga Stroeter
				p Músico, proprietário do Centro Cultural Rio Verde, em São Paulo, e produtor de eventos culturais, trilhas e CDs

				p 
					strong Janaína Faertes Pereira
				p Diretora de Arte formada em Publicidade e Propaganda, dedica-se ao desenvolvimento de projetos criativos para crianças

				p 
					strong José Flavio Júnior
				p Jornalista, radialista, curador de eventos musicais, editor-chefe da revista “Billboard” e crítico da revista “Bravo!”

				p 
					strong Juliano Gentile
				p Curador de música e coordenador de projetos de estímulo à novas linguagens na música e suas relações com outras áreas, no Centro Cultural São Paulo

				p 
					strong Júlio César Dória
				p Programador de teatro da Secretaria Municipal de Cultura de São Paulo, ator e produtor

				p 
					strong Kátia Dell’Agnollo Bocchi
				p Programadora musical do Departamento de Expansão Cultural (DEC), da Prefeitura de São Paulo, desde 2008

				p 
					strong Maria Eugênia Figueiredo de Menezes
				p Repórter e crítica de teatro do “Caderno 2”, no jornal “O Estado de S. Paulo”

				p 
					strong Marisabel Lessi de Mello
				p coordenadora do núcleo de fomentos culturais da Secretaria Municipal de Cultura

				p 
					strong Pena Schmidt
				p Produtor musical, colunista e técnico de som com experiências como produtor fonográfico, stage manager e diretor técnico

				p 
					strong Rodrigo Inácio Corbisier Matheus
				p Trabalhou em companhias de teatro e circo na França, Inglaterra e Austrália, é professor e um dos responsáveis pelas seleções para o Cirque Du Solei

				p 
					strong Rodrigo de Araújo
				p Publicitário, jornalista e produtor cultural, trabalha junto com a Secretaria Municipal de Cultura de São Paulo

				p 
					strong Terciane Alves
				p jornalista e assessora especial do programa São Paulo Carinhosa, politica que cuida da primeira infância em São Paulo
