section#home
	section#news.row(ng-controller="NewsController" ng-show="news")
		.container
			.twelve.columns

				.news-container

					article(ng-repeat="article in news" style="background-image:url({{getFeaturedImage(article)}})" ng-show="current == news.indexOf(article)")
						.post-content
							header
								h2
									a(href="/noticias/{{article.ID}}/" ng-bind-html="getTitle(article)")
							section.excerpt(ng-bind-html="getExcerpt(article)")

					a.prev.icon-arrow-left7(ng-click="prevArticle()" href="javascript:void(0);")
					a.next.icon-uniE6D8(ng-click="nextArticle()" href="javascript:void(0);")

					a.more(href="/noticias") Todas as notícias

	//
		section#event-featured.row(ng-controller="EventFeaturedController" ng-show="featured.type == 'near'")
			.container
				.twelve.columns
					include ../events/partials/featured

	section#event-list.page-section.row(ng-show="homeEvents.length")
		header.page-section-header.row
			.container
				.twelve.columns
					h2 {{eventsTitle}}
		section.page-section-content
			.container
				.twelve.columns
					ul.event-list(masonry ng-controller="EventController")
						li.masonry-brick(ng-repeat="event in homeEvents" ng-click="accessEvent(event)")
							include ../events/partials/event-list-item

	section#social.page-section.row(ng-show="socialItems.length")
		header.page-section-header.row
			.container
				.twelve.columns
					h1
						| Últimas na rede 
						span.lighten #circuitosp
		section.page-section-content
			.container
				.twelve.columns
					ul.items(masonry)
						li.masonry-brick(ng-repeat="item in socialItems" class="{{item.media_provider}} {{item.media_type}}")
							.item-content(ng-controller="SocialController")
								.media(ng-bind-html="getMedia(item)")
								p(class="icon-{{getMediaIcon(item)}}")
								p.author {{item.author}}
								p.link
									a(href="{{item.original_url}}" target="_blank") Ver original

					a.more(href="/na-rede") Veja mais da cobertura colaborativa #circuitosp