section#home
	section#news.row(ng-controller="NewsController" ng-show="news")
		.container
			.twelve.columns

				.news-container

					article(ng-repeat="article in news" style="background-image:url({{getFeaturedImage(article)}})" ng-show="current == news.indexOf(article)")
						.post-content
							header
								h2
									a(href="/noticias/{{article.ID}}/" ng-bind-html="getTitle(article)")
							section.excerpt(ng-bind-html="getExcerpt(article)")

					a(ng-click="prevArticle()" href="javascript:void(0);" class="prev") &#59237;
					a(ng-click="nextArticle()" href="javascript:void(0);" class="next") &#59238;

					a.more-news(href="/noticias") Todas as notícias

	section#event-list.page-section.row(ng-show="homeEvents.length")
		header.page-section-header.row
			.container
				.twelve.columns
					h2 {{eventsTitle}}
		section.page-section-content
			.container
				.twelve.columns
					ul.event-list(masonry ng-controller="EventController")
						li.masonry-brick(ng-repeat="event in homeEvents" ng-click="accessEvent(event)")
							include ../events/partials/event-list-item