doctype html
html(lang='pt-BR')
	include includes/head
	body
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=684842854918331&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		header#masthead.row
			.container
				.six.columns
					h1
						a(href="/")
							span Circuito São Paulo de Cultura
							img(src='/img/logo.png' alt='Circuito São Paulo de Cultura')
				.six.columns
					nav#mastnav.clearfix(ng-controller="NavCtrl")
						ul
							li(ng-repeat="item in nav")
								a(href="{{item.href}}" title="{{item.title}}")
									span.label {{item.title}}

		section#content.row(ui-view, autoscroll='false')

		footer#mastfoot.row
			#by
				h3 Realização
				img(alt="Secretaria Municipal de Cultura de São Paulo" src="/img/logos/secult.jpg")

		#loading(loading-status-message='loading-status-message', ng-class='{active: loads.length}')
		.loading-message

		include includes/foot
