doctype html
html(lang='pt-BR')
	include includes/head
	body
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=684842854918331&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		header#masthead.row
			.container
				.five.columns
					h1
						a(href="/")
							span Circuito São Paulo de Cultura
							img(src='/img/logo_.png' alt='Circuito São Paulo de Cultura')
				.seven.columns
					nav#mastnav.clearfix(ng-controller="NavCtrl")
						ul.nav
							li(ng-repeat="item in nav")
								a(href="{{item.href}}" title="{{item.title}}")
									span.label {{item.title}}
								ul(ng-show="item.child")
									li(ng-repeat="child in item.child")
										a(href="{{child.href}}" title="{{child.title}}")
											span.label {{child.title}}

		section#content.row(ui-view, autoscroll='false')

		section#social-links.row(ng-controller="SocialLinksCtrl" ng-show="facebook || twitter")
			.container
				.twelve.columns
					h3 Acompanhe pelas redes sociais
					p(ng-show="facebook")
						a.icon-facebook3(href="{{facebook}}" target="_blank" title="Facebook")
					p(ng-show="twitter")
						a.icon-twitter(href="https://twitter.com/{{twitter}}" target="_blank" title="Twitter" class="entypo-social tw")

		footer#mastfoot.row
			img(src="/img/footer.jpg")

		#loading(loading-status-message='loading-status-message', ng-class='{active: loads.length}')
		.loading-message

		include includes/foot
