doctype html
html(lang='pt-BR')
	include ../includes/head
	body
		header#masthead

			h1
				a(href="/")
					span Mês da Cultura Independente
					img(src='/img/logo.png' alt='Mês da Cultura Independente')

			h2
				span setembro/
				| 2014

		section#content

			header.main-header.clearfix
				block header

			section.main-content
				block content