@import "functions.less";

/*
 * FONTS
 */

@font-face {
	font-family: 'entypo';
	src: url('../font/entypo.eot');
	src: url('../font/entypo.eot?#iefix') format('embedded-opentype'),
		 url('../font/entypo.woff') format('woff'),
		 url('../font/entypo.ttf') format('truetype'),
		 url('../font/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'entypo-social';
	src: url('../font/entypo-social.eot');
	src: url('../font/entypo-social.eot?#iefix') format('embedded-opentype'),
		 url('../font/entypo-social.woff') format('woff'),
		 url('../font/entypo-social.ttf') format('truetype'),
		 url('../font/entypo-social.svg#entypo-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

.entypo {
	font-family: "entypo";
	font-size: 250%;
	float: left;
	margin-right: 5px;
}

.entypo-social {
	font-family: "entypo-social";
	font-size: 250%;
	float: left;
	margin-right: 5px;
}

html,
body {
	font-family: "Open Sans", "Helvetica", sans-serif;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", sans-serif;
	line-height: 120%;
}

a {
	.transition(all .2s linear);
}

body {
	background: @bg;
}

#masthead {
	h1 {
		text-indent: -9999px;
		img {
			display: block;
		}
	}
}

.event-list {
	li {
		float: left;
		width: 25%;
		padding: 0 5px 5px 0;
		margin: 0;
		.box-sizing(border-box);
		&.feat {
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		article {
			margin: 0;
			padding: 20px;
			background: url(../img/bg-black.jpg);
			color: #fff;
			.thumbnail {
				margin: -20px -20px 20px -20px;
				img {
					width: 100%;
					height: auto;
				}
			}
			h1,
			h2,
			h3 {
				color: #fff;
				a {
					text-decoration: none;
					color: inherit;
				}
			}
			a {
				color: #fff;
			}
			p {
				color: #f0f0f0;
			}
			.occurrences {
				.occurrence {
					display: none;
					&:first-child {
						display: block;
					}
					.date-info p {
						background: @red;
						color: #fff;
						padding: 10px 0;
						font-weight: 600;
						font-size: 120%;
						.entypo {
							font-weight: 200;
						}
					}
					.entypo {
						font-size: 40px;
						float: left;
						width: 40px;
						text-align: center;
					}
				}
			}
		}
	}
}

@import 'filters.less';