#home {
	#news {
		.news-container {
			position: relative;
			&:hover {
				.next,
				.prev {
					opacity: 1;
				}
			}
		}
		article {
			height: 550px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			.post-content {
				background: #fff;
				padding: 40px 0 0;
				position: absolute;
				bottom: 0;
				width: 100%;
				h2 {
					a {
						text-decoration: none;
					}
				}
				p {
					font-size: 18px;
					line-height: 150%;
				}
			}
		}
		.next,
		.prev {
			.entypo;
			position: absolute;
			top: 30%;
			color: #000;
			background: #fff;
			opacity: 0;
			font-size: 60px;
			line-height: 60px;
			height: 60px;
			text-decoration: none;
			margin: 0;
			padding: 0 10px;
			display: block;
		}
		.prev {
			left: 0;
		}
		.next {
			right: 0;
		}
		.more-news {
			background: @red;
			float: right;
			padding: 8px 12px;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

#news {
	.news-list {
		.image {
			height: 300px;
			background-size: cover;
			background-position: center;
			margin: 0 0 40px;
		}
		.post-meta {
			padding-top: 10px;
			.entypo {
				float: right;
				margin: 0 0 0 10px;
			}
			text-align: right;
		}
		.post-header {
			a {
				text-decoration: none;
			}
		}
		.post-content {
			p {
				font-size: 18px;
				line-height: 150%;
			}
		}
	}
}