@import "functions.less";

@media screen and (max-width: 1299px) {

	#masthead {
		width: 191px;
		padding: 30px;
		h2 {
			font-size: 50px;
		}
		#mastnav {
			ul {
				li {
					.entypo {
						font-size: 60px;
						line-height: 60px;
					}
				}
			}
		}
	}

	#content {
		margin-left: 231px;
	}

	#mastfoot {
		margin-left: 191px;
	}

	.main-header {
		h1 {
			font-size: 32px;
			line-height: 40px;
		}
	}

}

@media screen and (max-width: 1200px) {

	#masthead {
		width: 100%;
		height: auto;
		display: block;
		position: static;
		background: url(../img/bg4.jpg) fixed top center no-repeat;
		float: none;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding: 20px 0 0;
		h1 {
			img {
				width: 150px;
				margin: 0 auto;
			}
		}
		h2 {
			display: none;
		}
		#mastnav {
			margin: 0;
			padding: 0;
			background: @bg;
			ul {
				margin: 0;
				padding: 0;
				display: table;
				width: 100%;
				border: 0;
				li {
					display: table-cell;
					width: 1%;
					height: auto;
					float: none;
					margin: 0;
					border-bottom: 0;
					a {
						padding: 10px 0;
					}
					.entypo {
						font-size: 60px;
						line-height: 40px;
						margin-bottom: 10px;
					}
					.label {
						display: block;
						font-family: "Axis";
						text-transform: uppercase;
						font-size: 12px;
					}
				}
			}
			.currentHover {
				display: none;
			}
		}
	}

	#content {
		margin-left: 40px;
	}

	#mastfoot {
		margin-left: 0;
	}

}

@media screen and (max-width: 1000px) {
	.main-header {
		h1 {
			float: none;
		}
		nav {
			float: none;
		}
	}
}

@media screen and (max-width: 820px) {

	#masthead #mastnav {
		&:before {
			font-family: "entypo";
			content: '\2630';
			font-size: 80px;
			line-height: 60px;
			display: block;
			visibility: visible;
			width: auto;
			height: auto;
			text-align: center;
			font-weight: normal;
			background: #333;
			color: #fff;
		}
		ul {
			display: none;
			li {
				display: block;
				width: 50%;
				float: left;
				border-bottom: 1px solid rgba(0,0,0,0.2);
			}
		}
		&:hover {
			ul {
				display: block;
			}
		}
	}

	.main-header {
		padding: 30px 30px 0;
		&.with-image .image {
			margin: -30px -30px 20px;
			height: 150px;
		}
		&.list-header {
			margin-bottom: 0;
		}
		h1 {
			.tag {
				width: auto;
			}
		}
		nav {
			.filters-container {
				float: none;
				border: 0;
			}
			.filter-item {
				float: none;
				width: 100%;
				margin: 0 0 10px;
				border: 1px solid rgba(0,0,0,0.2);
				input[type=text] {
					width: 100%;
				}
			}
			.date-filter-content:before {
				content: 'Selecione uma data';
				float: left;
				font-size: 13px;
				line-height: 38px;
				margin-right: 10px;
			}
			.filled {
				.date-filter-content:before {
					display: none;
				}
			}
			.close {
				position: absolute;
				top: 40px;
				right: 40px;
				margin: 0;
				padding: 0;
			}
		}
	}

	#content {
		background-image: none;
	}

	#home {
		#news {
			article {
				float: none;
				&#featured,
				&#second {
					padding-right: 40px;
					width: 100%;
				}
			}
			.more-news {
				display: block;
				text-align: center;
				margin: 0 40px 40px 0;
			}
		}
		#intro {
			margin: 0 0 0 -40px;
			.box-section {
				width: 100%;
				float: none;
				padding: 0;
			}
		}
		#event-list {
			padding-right: 0;
			margin: 0 0 0 -40px;
		}
	}

	#list-event.tag .main-header p {
		width: auto;
	}

	#event-list {
		.event-list {
			margin: 0 0 0 -40px;
			li {
				height: auto;
				overflow: visible;
				font-size: 120%;
				&:hover {
					article {
						border: 0;
						.box-shadow(0 0 0 0);
						padding: 30px;
					}
				}
				article {
					padding: 30px;
				}
				header {
					width: 100%;
					float: none;
					margin: 0 0 20px;
					.image {
						display: none;
					}
					.main-info {
						width: 100%;
						float: none;
						margin: 0;
						padding: 0;
						h3 {
							white-space: normal;
							overflow: visible;
							text-overflow: clip;
							padding-left: 0 !important;
						}
						.description {
							display: block;
							padding-left: 0 !important;
						}
					}
				}
				.occurrences {
					width: auto;
					float: none;
					margin-left: 0;
					.occurrence {
						margin-bottom: 10px;
						p {
							white-space: normal;
							overflow: visible;
							text-overflow: clip;
						}
						.date-info {
							.date {
								display: block;
							}
						}
					}
				}
				&:hover {
					.occurrences {
						pointer-events: auto;
						.occurrence {
							display:block;
							margin-bottom: 10px;
							padding-bottom: 0;
							border-bottom: 0;
							&:last-child {
								border: 0;
							}
							p {
								white-space: normal;
								overflow: visible;
								text-overflow: clip;
							}
						}
					}
				}
			}
		}
		.event-results #pagination {
			margin: 0 0 0 -40px;
			font-size: 16px;
		}
		#highlight-event {
			margin: 0 0 0 -40px;
			h2 {
				position: static;
				margin: 0;
				padding: 15px 40px;
			}
			.image {
				display: none;
			}
			.highlight-item {
				width: 100%;
				float: none;
				padding: 0;
				margin: 0;
				border-bottom: 2px solid #eee;
				.highlight-content {
					&:before,
					&:after,
					.meta:before {
						display: none !important;
					}
				}
			}
		}
		#linguagens {
			display: none;
		}
		#spaces,
		#tags {
			width: auto;
			float: none;
			margin: 0 0 0 -40px;
			padding: 0;
		}
	}

	#single-event {
		#main-occurrence,
		#main-occurrence.with-sidebar {
			width: auto;
			float: none;
			margin: 0 0 20px -40px;
			padding: 0 40px;
		}
		#event-sidebar {
			float: none;
			width: auto;
			margin: 0 0 20px -40px;
			padding: 0 40px;
			border-left: 0;
		}
		.event-content {
			margin: 0 0 20px -40px !important;
			width: auto;
			padding: 0 40px;
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}
		.single-content,
		.single-content.with-sidebar {
			width: 100%;
		}
	}

	#social {
		.items {
			margin: -40px -40px 0;
			li {
				width: 50%;
				padding: 0;
				margin: 0;
			}
		}
	}
	#news {
		.news-list article {
			.post-meta .entypo {
				float: left;
				margin: 0 10px 0 0;
			}
			.left,
			.right {
				float: none;
				width: 100%;
				text-align: left;
			}
		}
		#pagination {
			margin: 0 -40px;
			font-size: 16px;
		}
	}

	#partners {
		ul {
			li {
				float: none;
				margin: 0 auto 20px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	#social {
		.items {
			li {
				width: 100%;
			}
		}
	}
}