.ui-view
	.ui-view
section#news
	header.main-header.clearfix
		h1 Notícias

		nav
			.filters-container
				.filter-item.text-filter(ng-class="{filled:search}")
					a.clear-filter(href="javascript:void(0)" ng-click="search = ''" title="Limpar busca" ng-show="search") &#10060;
					input(type="text" ng-model="search" placeholder="Digite uma busca...")

	section.main-content.news-list(ng-controller="NewsController")
		article.clearfix(ng-repeat="post in items")
			.image(ng-show="post.featured_image" style="background-image:url({{getFeaturedImage(post)}})")
			.left
				section.post-meta
					p.date
						span.entypo &#128340;
						| {{getDate(post)}}
					p.comments
						//a(href="/noticias/{{post.ID}}/#comments" disqus data-disqus-identifier="{{post.ID}}")
			.right
				header.post-header
					h2
						a(href="/noticias/{{post.ID}}/" ng-bind-html="getTitle(post)")
				section.post-content(ng-bind-html="getExcerpt(post)")

		nav#pagination.clearfix(ng-hide="(firstPage && lastPage) || !items.length")
			a.prev(ng-click="prevPage()" ng-hide="firstPage" href="javascript:void(0);")
				| página anterior
				.entypo &#59233;
			a.next(ng-click="nextPage()" ng-hide="lastPage" href="javascript:void(0);")
				| próxima página
				.entypo &#59234;