article#news.single-post(ng-controller="NewsController")
	header.main-header.clearfix(ng-class="{'with-image': getFeaturedImage(post)}")
		.image(ng-show="getFeaturedImage(post)" style="background-image:url({{getFeaturedImage(post)}})")
		h2
			a(href="/noticias/") Notícias
		h1(ng-bind-html="getTitle(post)")
	section.main-content

		p.date
			span.entypo &#128340;
			| {{getDate(post)}}

		.post(ng-bind-html="getContent(post)")