section#index-event(ng-class="{tag: tag}")
	.ui-view(autoscroll='false')
	header.list-header.main-header.row
		.container
			.twelve.columns
				.clearfix
					h2(ng-show="tag || space")
						a(href="/agenda/") Programação
					a.head-button(ng-show="space" href="http://spcultura.prefeitura.sp.gov.br/espaco/{{space.id}}/" target="_blank" title="Veja {{space.name}} no SPCultura") Espaço no SPCultura
					h1(ng-class="{tag: tag || space}")
						span(ng-hide="tag || space") Programação
						span.tag(ng-show="tag || space") {{tag || space.name}}
					include partials/filters
				.clearfix
					p(ng-show="tag") {{service.getTagDescription(tag)}}

	section#event-list.main-content
		section.event-results(infinite-scroll="eventNav.nextPage()" infinite-scroll-disabled="!eventNav.hasNextPage()")
			.container
				.twelve.columns
					ul.event-list(masonry preserve-order reload-on-show="true" ng-show="filteredEvents.length")
						//
							li.masonry-brick.feat
								img(src="/img/agenda.gif")
						li.masonry-brick(ng-repeat="event in (filteredEvents = (events | filter:eventFilter:strict | tagEvents:tag | classificacaoEvents:eventSearch.classificacao | spaceEvents:space | futureEvents:isFutureEvents | byDateEvents:eventSearch.startDate:eventSearch.endDate)) | limitTo: (eventNav.perPage + (eventNav.perPage * eventNav.curPage))" ng-controller="EventController")
							include partials/event-list-item

					p.not-found(ng-hide="filteredEvents.length") Nenhum evento foi encontrado

	//
		.below.clearfix

			#linguagens.box-section(ng-show="linguagens")

				header.box-section-header.linguagens-header.clearfix
					h2 Linguagens

				section.box-section-content.linguagens-content

					ul.linguagem-list.clearfix(ng-controller="EventController")
						li(ng-repeat="linguagem in linguagens")
							a(href="javascript:void(0);" ng-click="accessLinguagem(linguagem)") {{linguagem}}

			#tags.box-section(ng-controller="EventController" ng-show="tags")

				header.box-section-header.tags-header.clearfix
					h2 Tags

				section.box-section-content.tags-content

					ul.tag-list.clearfix
						li(ng-repeat="tag in tags" ng-show="tag")
							a(href="javascript:void(0);" ng-click="accessTag(tag)") {{tag}}