section#list-event(ng-class="{tag: tag}")
	.ui-view
	header.list-header.main-header.clearfix
		.clearfix
			h2(ng-show="tag || space")
				a(href="/agenda/") Agenda
			h1
				span(ng-hide="tag || space") Agenda
				span.tag(ng-show="tag || space") {{tag || space.name}}
			include partials/filters
		.clearfix
			p(ng-show="tag") {{service.getTagDescription(tag)}}

	section#event-list.main-content
		section.event-results(ng-show="isEventFiltering() || tag || space")

			ul.event-list(ng-show="filteredEvents.length")
				li.clearfix(ng-repeat="event in (filteredEvents = (events | filter:eventFilter:strict | tagEvents:tag | spaceEvents:space | futureEvents:isFutureEvents | byDateEvents:eventSearch.startDate:eventSearch.endDate)) | offset:eventNav.perPage * eventNav.curPage | limitTo:eventNav.perPage" ng-controller="EventController" ng-click="accessEvent(event)")
					include partials/event-list-item

			p.not-found(ng-hide="filteredEvents.length") Nenhum evento foi encontrado

			nav#pagination.clearfix(ng-show="filteredEvents.length")
				a.prev(ng-click="eventNav.prevPage()" ng-show="eventNav.hasPrevPage()" href="javascript:void(0);")
					| página anterior
					.entypo &#59233;
				a.next(ng-click="eventNav.nextPage()" ng-show="eventNav.hasNextPage()" href="javascript:void(0);")
					| próxima página
					.entypo &#59234;

		include partials/featured

		.below.clearfix

			#spaces.box-section

				header.box-section-header.spaces-header.clearfix
					h2 Espaços

				section.box-section-content.spaces-content

					input(type="text" ng-model="spaceSearch.name" placeholder="Busque por um espaço...")

					ul.space-list
						li(ng-repeat="space in (filteredSpaces = (spaces | filter:spaceSearch:strict)) | orderBy: '_distance' | offset: spaceNav.perPage * spaceNav.curPage | limitTo: spaceNav.perPage")
							article.space(ng-controller="EventController")
								header
									h3
										a(href="javascript:void(0);" ng-click="accessSpace(space.id)") {{space.name}}
									.clearfix
										p.distance(ng-show="space._distance && space._distance < 60000")
											span.entypo &#127919;
											strong {{space.kmDistance}} km 
											| de você
										div(ng-controller="MapController" ng-init="initData(space)")
											p.map(ng-click="openDialog($event, space)")
												a(href="javascript:void(0);")
													span.entypo &#59172;
													| Mapa
											p.route
												a(href="https://www.google.com/maps/dir/{{routeFrom}}/{{routeTo}}/" target="_blank")
													span.entypo &#10146;
													| Como chegar
					nav#pagination.clearfix
						a.prev(ng-click="spaceNav.prevPage()" ng-show="spaceNav.hasPrevPage()" href="javascript:void(0);")
							| página anterior
							.entypo &#59233;
						a.next(ng-click="spaceNav.nextPage()" ng-show="spaceNav.hasNextPage()" href="javascript:void(0);")
							| próxima página
							.entypo &#59234;

			#linguagens.box-section(ng-show="linguagens")

				header.box-section-header.linguagens-header.clearfix
					h2 Linguagens

				section.box-section-content.linguagens-content

					ul.linguagem-list.clearfix(ng-controller="EventController")
						li(ng-repeat="linguagem in linguagens")
							a(href="javascript:void(0);" ng-click="accessLinguagem(linguagem)") {{linguagem}}

			#tags.box-section(ng-controller="EventController" ng-show="tags")

				header.box-section-header.tags-header.clearfix
					h2 Tags

				section.box-section-content.tags-content

					ul.tag-list.clearfix
						li(ng-repeat="tag in tags" ng-show="tag")
							a(href="javascript:void(0);" ng-click="accessTag(tag)") {{tag}}