h2 {{space.name}}
.tools
	p.locate-user
		a(href="javascript:void(0);" ng-click="locateUser('dialog-map')")
			span.icon-target
			| Minha localização
	p.route
		a(href="https://www.google.com/maps/dir/{{routeFrom}}/{{routeTo}}/" target="_blank")
			span.icon-location2
			| Como chegar
.clear
p.endereco {{space.endereco}}
leaflet#dialog-map(defaults="map.defaults" markers="map.markers" paths="map.paths" center="map.center")