section#single-event(ng-controller="EventController")
	header.event-header.main-header.row(ng-class="{'with-image': event['@files:header'].url}")
		.container
			.twelve.columns
				.image(style="background-image:url({{event['@files:header'].url}});" ng-show="event['@files:header'].url")
				h2
					a(href="/agenda/") Programação
				a.head-button(href="http://spcultura.prefeitura.sp.gov.br/evento/{{event.id}}/" target="_blank" title="Veja {{space.name}} no SPCultura") Evento no SPCultura
				h1 {{event.name}}

	.container
		.eight.columns
			.single-content
				#main-occurrence.row
					.next-occurrence.clearfix(ng-show="featOccur || event.occurrences.length == 1")

						.clearfix
							.date-info
								p.fromNow(ng-show="featOccur.isFuture")
									span.icon-clock
									span(fromnow date="featOccur.timestamp")
								p.past-event(ng-hide="featOccur.isFuture") Este evento já aconteceu
								p.date
									span.icon-calendar
									| {{getFormattedDate(featOccur)}}
								p.price
									span.icon-ticket
									| {{featOccur.price}}
							.clear
							p.space(ng-controller="MapController" ng-click="openDialog($event, featOccur)")
								span.icon-location
								| {{featOccur.spaceName}}
								span.address {{featOccur.space.endereco}}
							p.add-to-calendar
								span.icon-star
								a(href="{{gCalUrl(featOccur, event)}}" target="_blank") Adicionar no Google Calendar

						//.map(ng-controller="MapController" ng-init="initMap(featOccur, mapOptions)")
						//	leaflet#main-map(defaults="map.defaults" markers="map.markers" paths="map.paths" center="map.center" ng-class="{open:map.open}")
						//		p.toggle-map(ng-click="map.toggle()") {{map.toggleLabel}}

					p.past-event(ng-hide="featOccur") Este evento já aconteceu

				section#event-description.event-content.main-content.row(ng-class="{'with-sidebar': event.occurrences.length>1 || event.terms.tag.length}")
					p(ng-show="description") {{description}}

					p
						span.icon-info2
						strong Classificação: 
						| {{event.classificacaoEtaria}}

				section#gallery.row(ng-show="event['@files:gallery']")
					h2 Galeria de fotos
					ul(masonry)
						li.masonry-brick(ng-repeat="photo in event['@files:gallery']")
							img(ng-src="{{photo.url}}")
		.four.columns
			aside#event-sidebar.row
				#social.row
				
					.fb-like(data-layout="standard" data-action="like" data-show-faces="false" data-share="true" data-width="200")

					a(href="https://twitter.com/share" class="twitter-share-button" data-via="mcifest") Tweet
					script.
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				#event-agenda.event-occurrences.row(ng-show="event.occurrences.length>1")
					h2 Agenda completa
					ul
						li.clearfix(ng-repeat="occur in event.occurrences | occurrenceOrder" ng-class="{future:occur.isFuture}")
							.date-info
								p.fromNow
									span.icon-clock
									span(fromnow date="occur.timestamp")
								p.date
									span.icon-calendar
									| {{getFormattedDate(occur)}}
							.clear
							p.space(ng-controller="MapController" ng-click="openDialog($event, occur)")
								span.icon-location
								| {{occur.spaceName}}
							p.price
								span.icon-ticket
								| {{occur.price}}

				#event-tags.row(ng-show="event.terms.tag")
					.tag(ng-repeat="tag in event.terms.tag" ng-show="service.getTagDescription(tag)")
						h3
							a(href="javascript:void(0)" ng-click="accessTag(tag)") {{tag}}
						p {{service.getTagDescription(tag)}}

					p.all-tags
						| Tags: 
						span(ng-repeat="tag in event.terms.tag" ng-hide="service.getTagDescription(tag)")
							a(href="javascript:void(0);" ng-click="accessTag(tag)") {{tag}}
							| {{$last ? '' : ', '}}